{% extends "base_generic.html" %}

{% block content %}

<h1>Book List</h1>
{% if book_list %}
<ul>
  {% for book in book_list %}
  <!-- where did book_list come from? It was automatically
   created by django and contains all objects of the model Book-->
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> written by {{ book.author}}
    <a href="{% url 'book_update' book.id %}">UPDATE</a>
    <a href="{% url 'book_delete' book.id %}">DELETE</a>
  </li>
  {% endfor %}
</ul>
<p><a href="{% url 'book_create'%}">CREATE NEW BOOK</a></p>
{% else %}
<p>There are no books in the library </p>

{% endif %}

{% endblock %}
